/* GENERAL SETTINGS */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}



body{
    width: 100vw;
    height: 100vh;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
}




/* MAIN CONTAINER */

.container{
    background-color: #FEFDF9;
    width: 1442px;
    height: 1024px;
    padding-top: 90px;
    padding-bottom: 130px;
    padding-left: 165px;
    padding-right: 165px;
    box-shadow: 1px -1px 38px -8px rgba(0,0,0,0.47);
-webkit-box-shadow: 1px -1px 38px -8px rgba(0,0,0,0.47);
-moz-box-shadow: 1px -1px 38px -8px rgba(0,0,0,0.47);
}




/* CONTENT */

.content{
    width: 100%;
    height: 100%;
    /* border: 1px solid #000;
    */
}

.imgLogo{
   width: 65px;
   height: 40px;
   background-image: url(./assets/images/logo.svg);
}



/* NAVIGATION */

nav{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}



nav ul{
    list-style-type: none;
    display: flex;
}

nav ul li{
   padding-left: 35px;
   color: #6D6C74;
   font-size: 19px;
}



/* MAIN */

main{
    width: 100%;
    margin-top: 55px;
    display: flex;
    flex-direction: column;
}

.banner{
    width: 730px;
    height: 300px;
    background-image: url(./assets/images/image-web-3-desktop.jpg);
    background-size: cover;
}

.news{
    width: 350px;
    height: 510px;
    padding: 30px 20px;
    background-color: #00001A;
}

.news h1{
    color: #EBA754;
    font-size: 40px;
}







.news-part hr{
    border: 1px solid #cecfe1ad;
    border-top-style: none;
    border-bottom-style: groove;
    
    
}

.news-part h2{
    color: #FFFFFD;
    padding-top: 25px;
}

.news-part p{
    padding: 25px 0;
    color: #CECFE1;
}

.left-side-layout{
    margin-right: 30px;
}

.horizontal-layout{
    width: 730px;
    height: 210px;
    /* border: 1px red solid; */
    display: flex;
    
}

.horizontal-part{
    width: 50%; 
    padding-top: 30px;
    padding-right: 20px;
}

.horizontal-part h1{
    font-size: 60px;
    line-height: 55px;
}

.horizontal-part p {
    padding-bottom: 30px;
    margin-bottom: 15px;
}

.horizontal-part a {
    background-color: #F15D51;
    padding: 12px 24px;
    text-transform: uppercase;
    text-decoration: none;
    color:#e3e4ec;
    letter-spacing: 3px;
    font-weight: bold;
}




.top-layout{
    display: flex;
}

.bottom-layout{
    width: 100%;
    height: 179px;
    display: flex;
}

.related-article{
    margin-top: 42px;
    width: 33.33%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}


.related-image{
    width: 100px;
    height: 125px;
    margin-right: 20px;
    background-size: cover;
}

.image01{
    background-image: url(./assets/images/image-retro-pcs.jpg);
    
}

.image02{
    background-image: url(./assets/images/image-top-laptops.jpg);
}

.image03{
    background-image: url(./assets/images/image-gaming-growth.jpg);
}


.related-horizontal{
    width: 100%;
    height: 125px;

}

.related-horizontal h2{
    font-size: 22px;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-right: 20px;
}

.related-horizontal p{
    padding-right: 20px;
}