/* GENERAL SETTINGS */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    width: 100vw;
    height: 100vh;
    background-color: lightgrey;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}




/* MAIN CONTAINER */

.container{
    width: 1442px;
    height: 1024px;
    background-color: rgb(122, 82, 29);
    padding-top: 90px;
    padding-bottom: 130px;
    padding-left: 165px;
    padding-right: 165px;
}


/* CONTENT */

.content{
    width: 100%;
    height: 100%;
    /* border: 1px solid #000;
    */
}



/* NAVIGATION */

nav{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: red;
}

nav h1{
    font-size: 50px;
}

nav ul{
    list-style-type: none;
    display: flex;
}

nav ul li{
   padding-left: 35px;
}



/* MAIN */

main{
    width: 100%;
    background-color: green;
    margin-top: 55px;
    display: flex;
    flex-direction: column;
}

.banner{
    width: 730px;
    height: 300px;
    background-image: url(./assets/images/image-web-3-desktop.jpg);
    background-size: cover;
}

.news{
    width: 350px;
    height: 510px;
    background-color: blue;
    padding: 30px 20px;
}







.news-part hr{
    border: 1px dotted black;
}

.news-part h2{
    color: green;
    padding-top: 25px;
}

.news-part p{
    padding: 25px 0;
}

.left-side-layout{
    margin-right: 30px;
}

.horizontal-layout{
    width: 730px;
    height: 210px;
    /* border: 1px red solid; */
    display: flex;
    
}

.horizontal-part{
    width: 50%; 
    padding-top: 30px;
    padding-right: 20px;
}

.horizontal-part h1{
    font-size: 60px;
    line-height: 55px;
}

.horizontal-part p {
    padding-bottom: 30px;
}

.horizontal-part a {
    background-color: blue;
    padding: 10px 20px;
    text-transform: uppercase;
}




.top-layout{
    display: flex;
}

.bottom-layout{
    width: 100%;
    height: 179px;
    display: flex;
}

.related-article{
    width: 33.33%;
    height: 100%;
    border: 1px red solid;
}



